<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/path-to-peace-bg-gradient.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="row"> 
            <h1>Coaching</h1>
        </div>
        <div class="row text-center">
            <div class="col-md-10 mr-auto ml-auto">
                <h2 class="title" style="color: #66615b;"><em>Empowering you to live the life you deserve!</em></h2>
            </div>
        </div>
    </div>
</div>

<div class="main">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mr-auto ml-auto"> 
                    <h2>My Approach</h2>
                    <br />
                    <h5>I provide support in a 3-pronged approach which addresses all areas of your experience as a human being. If it helps you to understand, you can think of yourself as a car!</h5>
                </div>
                <div class="col-md-5 mr-auto ml-auto"> 
                    <img src="assets/img/p2p/coaching-my-approach.png" class="img-rounded img-responsive" alt="Rounded Image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Psychological System</h4>
                            <p class="description">The understanding of the simplicity of our human experience, and the helpful mindset tweaks which can assist us in living purposeful lives.</p>
                            <p class="description"><b>Or, why we drive the car.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Biological System</h4>
                            <p class="description">The variety of factors that directly support your health, wellbeing, and overall function. For instance, exercise, nutrition, sleeping, breathing and other similar factors.</p>
                            <p class="description"><b>Or, how we fuel the car.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Systems and Skillsets</h4>
                            <p class="description">Systems are the habits we develop, while skillsets are the qualities we develop.</p>
                            <p class="description"><b>Or, how we drive the car.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto"> 
                    <h2>Credentials</h2>
                    <br />
                    <h5>Currently in 3rd year of a Bachelor of Primary Education at Notre Dame University, Sydney Australia.</h5>
                    <br />
                    <p>2022 Graduate</p>
                    <p>New Paradigm Institute Integrative Coach Training (through Prime Wellness)</p>
                    <br />
                    <p>First Aid Certificate 2023</p>
                    <p>HLTAID011 - Provide First Aid</p>
                    <p>HLTAID010 - Provide basic emergency life support</p>
                    <p>HLTAID009 - Provide cardiopulmonary resuscitation</p>
                    <br />
                    <p>3+ years working in the Personal Development industry through Mentoring/Coaching, Guest Speaking and Media</p>
                    <p>3+ years working as a Learning Support Officer, Childcare Educator and Sports Coach</p>
                    <p>4 months+ Primary school teaching as a student teacher in Catholic and Public Schools</p>
                    <p>2 years+ Tutoring Primary & High school</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
    <div class="container">
        <div class="row"> 
            <h2 class="title">Offered Programs</h2>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <img src="assets/img/p2p/coaching-adult-programs.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="description">
                        <h4 class="info-title">Adult Programs</h4>
                        <br />
                        <a href="#pkp" class="btn btn-outline-warning btn-round">Explore Adult Programs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info">
                    <img src="assets/img/p2p/coaching-child-programs.png" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="description">
                        <h4 class="info-title">Child Programs</h4>
                        <br />
                        <a href="#pkp" class="btn btn-outline-warning btn-round">Explore Child Programs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto"> 
                    <h2>Just want to chat?</h2>
                    <h5>Do you have an idea of how I could improve Path To Peace? Want to share your experiences with the wider community? Or, do you just want to have a chat?</h5>
                    <br />
                    <button type="button" class="btn btn-outline-warning btn-round">Contact Me</button>
                </div>
            </div>
        </div>
    </div>

</div>

