
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Peace of Advice</h2>
            </div>
            <div class="row"> 
                <p>Tips and tricks to finding your peace.</p>
            </div>
            <br/>
            <div class="row"> 
                <div class="col-md-6 mr-auto ml-auto" *ngFor="let peaceOfAdvice of peacesOfAdvice; let i = index">
                    <div class="rounded peace-of-advice">
                        <!-- <h4>{{peaceOfAdvice.title}}</h4>
                        <br/>
                        <iframe [src]="santiseUrl(peaceOfAdvice.link)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                     -->
                        <h4>{{peaceOfAdvice.title}}</h4>
                        <br/>
                        <iframe [src]="santiseUrl(peaceOfAdvice.link)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item tag" *ngFor="let tag of peaceOfAdvice.tags; let j = index">{{tag}}</li>
                            </ul>
                        </div>
                        <p>{{peaceOfAdvice.description}}</p>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

