
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Peace of Advice</h2>
            </div>
            <div class="row"> 
                <p>Tips and tricks to finding your peace.</p>
            </div>
            <br/>
            <div class="row"> 
                <div class="col-md-6 mr-auto ml-auto">
                    <div class="rounded peace-of-advice">
                        <h4>54321 Grounding</h4>
                        <br/>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0tHsOphnAfg?si=3BAZjYGK434Li2kH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                        
                    </div>
                </div>
                <div class="col-md-6 mr-auto ml-auto">
                    <div class="rounded peace-of-advice">
                        <h4>Batyr 'Being Herd' Workshop - The Power Of Opening Up</h4>
                        <br/>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OgKo3mIVWAE?si=0NPK7-KbjS1lVSZT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

