
<div class="main" style="margin-top: 50px;">
    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Podcast Interviews</h2>
            </div>
            <div class="row"> 
                <p>I sit down with someone who bravely shares their history, and mental health journey.</p>
                <p>The aim with these interviews is to openly share and discuss the issues. And finally, providing, in reflection:</p>
                <p></p>
                <br/>
                <ul>
                    <li>Advice</li>
                    <li>Revelations</li>
                    <li>Hope</li>
                </ul>
                <p>Have a look below at the most recent ones below.</p>
            </div>
            <br/>
            <div class="row"> 
                <div class="col-md-6 mr-auto ml-auto" *ngFor="let podcast of podcasts; let i = index">
                    <div class="rounded podcast">
                        <h4>{{podcast.title}}</h4>
                        <br/>
                        <iframe [src]="santiseUrl(podcast.link)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p class="btn-just-icon btn-warning btn-round"><b>{{podcast.tag}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>