@import '../../../../../assets/sass/paper-kit/variables';
@import '../../../../../assets/sass/paper-kit/mixins/buttons';
@import '../../../../../assets/sass/paper-kit/mixins/vendor-prefixes';
@import '../../../../../assets/sass/paper-kit/mixins/transparency';
@import '../../../../../assets/sass/paper-kit/mixins/p2p';

.podcast {
    color: #fff;
    background: #59797D;
    padding: 20px;
}

h4, .h4 {
    margin: 0px;
}

iframe {
    width: 500px;
    height: 248.383px;
}

.tag {
    box-sizing: border-box;
    border-width: $border-thick;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    padding: .5rem $padding-base-horizontal;
    line-height: 1.75;
    margin-right: 3px;
    text-transform: uppercase;
    border-radius: 30px;

    &.btn-border,
    &.btn-link{
        background-color: $transparent-bg;
    }

    @include tag-styles($warning-color, $warning-states-color);
}

.list-inline {
    margin-top: 10px;
    margin-bottom: 0px;
}

.list-inline-item {
    margin-right: 10px;
}