
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Podcast Interviews</h2>
            </div>
            <div class="row"> 
                <p>I sit down with someone who bravely shares their history, and mental health journey.</p>
                <p>The aim with these interviews is to openly share and discuss the issues. And finally, providing, in reflection:</p>
                <p></p>
                <br/>
                <ul>
                    <li>Advice</li>
                    <li>Revelations</li>
                    <li>Hope</li>
                </ul>
                <p>Have a look below at the most recent ones below.</p>
            </div>
            <br/>
            <div class="row"> 
                <div class="col-md-6 mr-auto ml-auto">
                    <div class="rounded podcast">
                        <h4>Anastasia's Story</h4>
                        <br/>
                        <iframe src="https://www.youtube.com/embed/zhekX8jg55A?si=fLSB4tPN-yuGhL74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <br/>
                        <p class="btn-just-icon btn-warning btn-round"><b>Tag</b></p>
                    </div>
                </div>
                <div class="col-md-6 mr-auto ml-auto">
                    <div class="rounded podcast">
                        <h4>Matthew's Story</h4>
                        <br/>
                        <iframe src="https://www.youtube.com/embed/NYshViNxE7o?si=ygYvzzUoRBzc6GhP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p class="btn-just-icon btn-warning btn-round"><b>Tag</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

