// .row {
//    margin-bottom: 30px;
// }

.peaceful-activity {
   color: #fff;
   background: #59797D;
   padding: 20px;

   &:hover {
      background: #2c3b3d;
    }
}

.original {
   display: block;
}

.overlay {
   display: none;
}

.peaceful-activity:hover .original {
   display: none;
 }
 
 .peaceful-activity:hover .overlay {
   display: block;
 }

h4, .h4 {
   margin: 0px;
}

h3, .h3 {
   margin: 10px 0px 10px 0px;
}

img {
   width: 200px;
   height: 200px;
}