
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Peaceful Activities</h2>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h3 class="text-center"><em>Give a person a fish, and you feed them for a day.</em></h3>
                    <h3 class="text-center"><em>Teach a person to fish, and you feed them for a lifetime.</em></h3>
                </div>
            </div>

            <br/>

            <div class="row mb-4"> 
                <h3 class="title">Movement</h3>
            </div>
            <div class="row">   
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Exercise</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/exercise.svg" >
                        </div>
                        <div class="overlay">
                            <p class="text-center">The great thing about exercise is that it's your choice. If you don't like strenuous exercise, walking is perfect for you. If you like to really challenge your body, lifitng weights is perfect for you. It's all about the movement you feel comfortable with!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Yoga</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/yoga.svg" >
                        </div>
                        <div class="overlay">
                            <p class="text-center">An amazing practice with an amazing benefits for stress release and management, cardiovascular health, mood, energy, strength, spinal health and so much more. Try some practices on YouTube ton get you started!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Pilates</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/pilates.svg" >
                        </div>
                        <div class="overlay">
                            <p class="text-center">Another beneficial exercise methoid for stress management, strength, energy, spinal health, strength, concentration. Like yoga, there are ways to start on YouTube, and you can look for classes in yur area.</p>
                        </div>
                    </div>
                </div>
            </div>

            <br/><br/>
            
            <div class="row"> 
                <h3 class="title">Nervous System Regulation</h3>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <a href="https://www.youtube.com/watch?v=l7DKAzwEVr0" target="_blank">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Shaking</b></h3>
                            <div class="original">
                                <img src="assets/img/peaceful-activities/shaking.svg" >
                            </div>
                            <div class="overlay">
                                <p class="text-center">Shaking is an activity we can do at any time of the day to release built up stress in the body. When it comes to trauma and stress, the body keeps the score, and we can take care of it releasing stress that can develop into something worse.</p>
                                <p class="text-center"><b>Video →</b></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Grounding</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/grounding.svg">
                        </div>
                        <div class="overlay">
                            <p class="text-center">There's physical grounding (contact with the Earth which linked to improvements to energy, sleep, anxiety, chronic pain). Connecting to Earth in a physical way, skin to earth, in touch with the world around you. Mental grounding, I like to think of as the practice of slowing down and engaging with the present moment. Ways to ground can be through meditation, breathing, art, silence, journalling and affirmations.   Especially acknowledging what's around you that you may not always notice, take the time to notice them and be grateful for all the little things that make the Earth habitable for us!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <a href="https://www.youtube.com/watch?v=02bN4JFx10Y" target="_blank">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Tapping</b></h3>
                            <div class="original">
                                <img src="assets/img/peaceful-activities/tapping.svg">
                            </div>
                            <div class="overlay">
                                <p class="text-center">EFT Tapping (Emotional Freedom Technique) consists of tapping on acupuncture points in the body to stimulate signals to the brain and calm and relax the us, especially in moments of distress and built up tension. You can even mix in some affirmations to really activate the energy you are transporting.</p>
                                <p class="text-center"><b>Video →</b></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <a href="https://www.youtube.com/watch?list=PL-AaaRr6J9YqpjJtubLCBrEjXLmtFjJgU&v=lG2cyNcwMKc&source_ve_path=MjM4NTE&feature=emb_title" target="_blank">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Affirmations</b></h3>
                            <div class="original">
                                <img src="assets/img/peaceful-activities/affirmations.svg">
                            </div>
                            <div class="overlay">
                                <p class="text-center">Powerful words of cofmort, reassurance and inspiration to yourself, check out the Path to Peace affirmations on YouTube!</p>
                                <p class="text-center"><b>Video Playlist →</b></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Journaling</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/journaling.svg">
                        </div>
                        <div class="overlay">
                            <p class="text-center">A way to check in with yourself, pour out your thoughts, feelings, frustrations, happiness onto the page for you to keep for yourslef. A therapeutic ritual for many to start or end the day - it's entirely up to you how you journal. What is important is that you do it your way!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <a href="https://www.youtube.com/watch?v=ylLkWCNKsD0&list=PL-AaaRr6J9Yr6mmJKaF5MeuTRKR7kTYy0" target="_blank">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Breathing</b></h3>
                            <div class="original">
                                <img src="assets/img/peaceful-activities/breathing.svg">
                            </div>
                            <div class="overlay">
                                <p class="text-center">One of the best ways to self regulate, and there's so many different practices to use! Check out the Path to Peace Breathing + Meditation YouTube playlist</p>
                                <p class="text-center"><b>Video Playlist →</b></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <a href="https://www.youtube.com/watch?v=56cIwcl7344" target="_blank">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Humming</b></h3>
                            <div class="original">
                                <img src="assets/img/peaceful-activities/humming.svg">
                            </div>
                            <div class="overlay">
                                <p class="text-center">Humming is an incredible technique which can stimulate all sorts of benefical changes in the mind and body. Humming activates the vagus nerve, which sends signals to the brain that we are safe. It can also boost energy levels, helps induce sleep, and release oxytocin (the 'love' hormone).</p>
                                <p class="text-center"><b>Video →</b></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <br/>
            
            <div class="row mb-4 mb-md-4"> 
                <h3 class="title">Mixed</h3>
            </div>
            <div class="row mb-4 mb-md-4">
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Sunlight</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/sunlight.svg">
                        </div>
                        <div class="overlay">
                            <p class="text-center">Our primary source of Vitamin D! Get outside in the sun when/if you can. Spend your lunch break outside in the sun, with nature, enjoying the world at its most simplest level!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <a href="https://www.youtube.com/watch?v=p00v9ZFhWJM" target="_blank">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Music</b></h3>
                            <div class="original">
                                <img src="assets/img/peaceful-activities/music.svg">
                            </div>
                            <div class="overlay">
                                <p class="text-center">Music makes us feel, dance, sing - most importantly we get in touch with the present moment. Music therapy is a real profession, taking care of your beautiful brain. Be open to anything, find the music that brings you peace, clarity, fulfiment and love!</p>
                                <p class="text-center"><b>Video →</b></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Sleep</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/sleep.svg">
                        </div>
                        <div class="overlay">
                            <p class="text-center">A primary determinant of our energy and stress levels on a day to day basis is sleep! Sleep duration, quality, hygiene (prioritising the bed for sleep and sex). Start taking small steps to improve your sleep and you see the world with less fear, alert and worry. Some simple tips for improvin sleep quality is shutting off electronics 1-2 hours before bed, having some tea, reading a book, breathing, humming etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-md-4">
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Human Connection</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/human-connection.svg">
                        </div>
                        <div class="overlay">
                            <p class="text-center">Human connection is an absolute biological imperative. We adapted the freeze response from reptiles, the fight or flight response from mammals, and established our social engagement system where we are at our most present, joyful and safe. The nervous system strives to protect yes, but it also strives to connect.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4">
                    <div class="rounded peaceful-activity text-center">
                        <h3 class="text-center"><b>Brain Stimulation</b></h3>
                        <div class="original">
                            <img src="assets/img/peaceful-activities/brain-stimulation.svg">
                        </div>
                        <div class="overlay">
                            <p class="text-center">The Brain is ours to take care of! It needs to be challenged in order for the maitenance and replenishment of cells. Silent time can release a protein in the brain which helps maintain nuerons. Other examples of Brain Stimulation activities include: Sudoku, Crosswords, Think piece articles and Vdeos, Online games, Drawing, Chess, Jigsaw puzzles, etc. These are all activities which train the brain and keep it active. Healthy brain = Healthy Life!</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto"></div>
            </div>
        </div>
    </div>
</div>

