
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Peaceful Activities</h2>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h3 class="text-center"><em>Give a person a fish, and you feed them for a day.</em></h3>
                    <h3 class="text-center"><em>Teach a person to fish, and you feed them for a lifetime.</em></h3>
                </div>
            </div>

            <br/><br/>

            <div class="row"> 
                <h3 class="title">Movement</h3>
            </div>
            <div class="row">   
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Exercise</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/exercise.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Yoga</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/yoga.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Pilates</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/pilates.svg" >
                        </div>
                    </a>
                </div>
            </div>

            <br/><br/>
            
            <div class="row"> 
                <h3 class="title">Nervous System Regulation</h3>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Shaking</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/shaking.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Grounding</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/grounding.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Tapping</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/tapping.svg" >
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Affirmations</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/affirmations.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Journaling</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/journaling.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Breathing</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/breathing.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Humming</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/humming.svg" >
                        </div>
                    </a>
                </div>
            </div>

            <br/><br/>
            
            <div class="row"> 
                <h3 class="title">Mixed</h3>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Sunlight</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/sunlight.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Music</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/music.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Sleep</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/sleep.svg" >
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Human Connection</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/human-connection.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <a href="#/pkp">
                        <div class="rounded peaceful-activity text-center">
                            <h3 class="text-center"><b>Brain Stimulation</b></h3>
                            <img src="assets/img/p2p/peaceful-activities/brain-stimulation.svg" >
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mr-auto ml-auto"></div>
            </div>
        </div>
    </div>
</div>

