
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Child Programs</h2>
            </div>

            <br/>

            <div class="row"> 

                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded-7 program">
                        <h4>Mindfulness Intensive</h4>
                        <br/>
                        <p>Duration: 1 month</p>
                        <p>We dive into all things mindfulness, the mind-state and ability to connect with the present moment for peace and clarity.</p>
                        <p>I help your child learn about their:</p>
                        <ul>
                            <li>Nervous system</li>
                            <li>Psychological experience</li>
                            <li>The body-brain connection</li>
                            <li>everything that factors into their human experience</li>
                        </ul>
                        <p>Through three simple steps:</p>
                        <ol>
                            <li>Education</li>
                            <li>Tools and Strategies</li>
                            <li>Implementation</li>
                        </ol>
                        <p>Individualising this approach to your child is a key priority of mine.</p>
                        <p><b>Cost: $80/hour (2 hour sessions)</b></p>
                        <br/>
                        <a href="#coaching/apply/child-mindfulness-intensive" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>

                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded-7 program">
                        <h4>Skill Builder</h4>
                        <br/>
                        <p>Duration: 3 months</p>
                        <p>Your child and I will focus on a particular skill they would like to further develop.</p>
                        <p>I'll provide guidance on building proficiency with this skill, promoting a growth mindset and navigating the learning curve for this skill as well as their future endeavours.</p>
                        <p>The skill chosen could be something physical like a sport, or exercise style, or something more intellectual like photography, videography or music.</p>
                        <p>I am eager to assist your children with their goals and I will adapt as required for whatever skill your child would like to work on.</p>
                        <p><b>Cost: $80/hour (1-1.5 hour sessions) OR a flat $1200, saving you $80</b></p>
                        <br/>
                        <a href="#coaching/apply/child-skill-builder" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>

                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded-7 program">
                        <h4>Integrative Coaching & Mentoring</h4>
                        <br/>
                        <p>Duration: 6-12 months</p>
                        <p>Deep dive into all areas of your child's experience:</p>
                            <ul>
                                <li>Biological System</li>
                                <li>Psychological System</li>
                                <li>Systems and Skill Sets</li>
                                <li>Spirituality</li>
                            </ul>
                            This will be done through:
                            <ul>
                                <li>Educational sessions</li>
                                <li>Recommended external learning</li>
                                <li>Instruction and guidance on habit implementation</li>
                            </ul>
                            <p>This includes the ability to contact me by text or call at any time for clarification, or any information that you may need.</p>
                        <p><b>Cost: $80/hour (1-1.5 hour sessions)</b></p>
                        <br/>
                        <a href="#coaching/apply/child-coaching-mentoring" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

