.rounded-rectangle{
    width: 300px;
    height: 400px;
    background: #59797D;
    border-radius: 10px;
    color: #fff;
}

.rounded-rectangle-text{
    color: #fff;
}

.program {
    color: #fff;
    background: #59797D;
    padding: 20px;
}

h4, .h4 {
    margin: 0px;
}