
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Adult Programs</h2>
            </div>
            <br/>
            <div class="row"> 

                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded program">
                        <h4>Deep Intensive</h4>
                        <br/>
                        <p>Duration: 1 month</p>
                        <p>An in-depth inspection of a focus area through:</p>
                        <ul>
                            <li>Education sessions</li>
                            <li>Recommended external learning</li>
                            <li>Habit building and implementation</li>
                        </ul>
                        <p><b>Cost: $80/hour (2 hour sessions)</b></p>
                        <br/>
                        <a href="#coaching/apply" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>

                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded program">
                        <h4>The Deep Rebound</h4>
                        <br/>
                        <p>Duration: 3 months</p>
                        <p>
                            The “Deep Intensive” course, for a few different areas of needed change, as well as a plan for each focus as you move forward.
                        </p>
                        <p><b>Cost: $80/hour (1-1.5 hour sessions) OR a flat $1200, saving you $80</b></p>
                        <br/>
                        <a href="#coaching/apply" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>

                <div class="col-md-4 mr-auto ml-auto">
                    <div class="rounded program">
                        <h4>Integrative Coaching & Mentoring</h4>
                        <br/>
                        <p>Duration: 6-12 months</p>
                        <p>“Deep Intensive” into all areas of your personal experience:</p>
                            <ul>
                                <li>Biological System</li>
                                <li>Psychological System</li>
                                <li>Systems and Skill Sets</li>
                                <li>Spirituality</li>
                            </ul>
                            This will be done through:
                            <ul>
                                <li>Educational sessions</li>
                                <li>Recommended external learning</li>
                                <li>Instruction and guidance on habit implementation</li>
                            </ul>
                            <p>This includes the ability to contact me by text or call at any time for clarification, or any information that you may need.</p>
                        <p><b>Cost: $80/hour (1-1.5 hour sessions)</b></p>
                        <br/>
                        <a href="#coaching/apply" class="btn btn-warning btn-round">Apply Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

