
<div class="main" style="margin-top: 50px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Personal Experiences</h2>
            </div>
            <div class="row"> 
                <p>I can upload a written memoir-like story of one of your own personal experiences.</p>
                <p>Or, if you prefer, I can upload a private interview in written form.</p>
                <p>Don't be shy, if you are thinking of in sending something in! Have a look at some of the examples below:</p>
            </div>
            <br/>
            <div class="row"> 
                <div class="col-md-4 mr-auto ml-auto mb-4 mb-md-4" *ngFor="let personalExperience of personalExperiences; let i = index">
                    <a href="#/your-stories/interviews/{{personalExperience.id}}"> 
                        <div class="rounded personal-experience">
                            <h4>{{personalExperience.title}}</h4>
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item tag" *ngFor="let tag of personalExperience.tags; let j = index">{{tag}}</li>
                                </ul>
                            </div>
                            <p class="excerpt">{{personalExperience.excerpt}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

