
<div class="main" style="margin-top: 120px;">
    <div class="section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Coaching</h2>
            </div>
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <h3 class="text-center"><em>If you want to go fast, go alone. If you want to go far, go together.</em></h3>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-7 mr-auto ml-auto"> 
                    <h2>My Approach</h2>
                    <br />
                    <h5>I provide support in a 3-pronged approach which addresses all areas of your experience as a human being. If it helps you to understand, you can think of yourself as a car!</h5>
                </div>
                <div class="col-md-5 mr-auto ml-auto"> 
                    <img src="assets/img/coaching/my-approach.png" class="img-rounded img-responsive" alt="Rounded Image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning">
                            <img src="assets/img/coaching/psychological-chunk.png" class="img-responsive img-icon" alt="Rounded Image">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Psychological System</h4>
                            <p class="description">The understanding of the simplicity of our human experience, and the helpful mindset tweaks which can assist us in living purposeful lives.</p>
                            <p class="description"><b>Or, why we drive the car.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning">
                            <img src="assets/img/coaching/biological-chunk.png" class="img-responsive img-icon" alt="Rounded Image">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Biological System</h4>
                            <p class="description">The variety of factors that directly support your health, wellbeing, and overall function. For instance, exercise, nutrition, sleeping, breathing and other similar factors.</p>
                            <p class="description"><b>Or, how we fuel the car.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-warning">
                            <img src="assets/img/coaching/systems-and-skillsets-chunk.png" class="img-responsive img-icon" style="height: 50px; width: 80px;" alt="Rounded Image">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Systems and Skillsets</h4>
                            <p class="description">Systems are the habits we develop, while skillsets are the qualities we develop.</p>
                            <p class="description"><b>Or, how we drive the car.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto"> 
                    <h2>Credentials</h2>
                    <br />
                    <h5>Currently in 3rd year of a Bachelor of Primary Education at Notre Dame University, Sydney Australia.</h5>
                    <ul>
                        <li><p><b>2022 Graduate</b> - New Paradigm Institute Integrative Coach Training (through Prime Wellness)</p></li>
                        <li>3+ years working in the Personal Development industry through Mentoring/Coaching, Guest Speaking and Media</li>
                        <li>3+ years working as a Learning Support Officer, Childcare Educator and Sports Coach</li>
                        <li>4+ months Primary school teaching as a student teacher in Catholic and Public Schools</li>
                        <li>2 years+ tutoring Primary & High school</li>
                        <li>First Aid Certificate 2023</li>
                        <ul>
                            <li>HLTAID011 - Provide First Aid</li>
                            <li>HLTAID010 - Provide basic emergency life support</li>
                            <li>HLTAID009 - Provide cardiopulmonary resuscitation</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
    <div class="container">
        <div class="row"> 
            <h2 class="title">Offered Programs</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#coaching/adult-programs">
                    <div class="bg-image rounded">
                        <img src="assets/img/coaching/adult-programs.jpg" class="w-100" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: hsla(0, 0%, 0%, 0.2)">
                            <h3><b>Adult Programs →</b></h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#coaching/child-programs">
                    <div class="bg-image rounded">
                        <img src="assets/img/coaching/child-programs.png" class="w-100" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: hsla(0, 0%, 0%, 0.2)">
                            <h3><b>Child Programs →</b></h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto"> 
                    <h2>Just want to chat?</h2>
                    <br />
                    <h5>Do you have an idea of how I could improve Path To Peace?</h5>
                    <h5>Want to share your experiences with the wider community?</h5>
                    <h5>Just want to have a chat?</h5>
                    <br />
                    <a href="#contact" class="btn btn-outline-warning btn-round">Contact Me</a>
                </div>
            </div>
        </div>
    </div>

</div>

