
<div class="main" style="margin-top: 60px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Your Stories</h2>
            </div>
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <h3 class="text-center"><em>If you want to go fast, go alone. If you want to go far, go together.</em></h3>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-6">
                    <a href="#/your-stories/podcasts">
                        <div class="bg-image rounded">
                            <img src="assets/img/p2p/your-stories-podcast.png" class="w-100" />
                            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: hsla(0, 0%, 0%, 0.2)">
                                <h3><b>Podcast Interviews →</b></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#/your-stories/interviews">
                        <div class="bg-image rounded">
                            <img src="assets/img/p2p/your-stories-personal-experiences.jpg" class="w-100" />
                            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: hsla(0, 0%, 0%, 0.2)">
                                <h3><b>Personal Experiences →</b></h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

