
<div class="main" style="margin-top: 60px;">

    <div class="section landing-section">
        <div class="container">
            <div class="row"> 
                <h2 class="title">Your Stories</h2>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title"><em>If you want to go fast, go alone. If you want to go far, go together.</em></h2>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <img src="assets/img/p2p/home-your-stories.png" class="img-rounded img-responsive" alt="Rounded Image">
                        <div class="description">
                            <h4 class="info-title">Podcast Interviews</h4>
                            <a href="#/your-stories/podcasts" class="btn btn-outline-warning btn-round" style="margin-top: 10px;">Watch an Interview</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info">
                        <img src="assets/img/p2p/home-peaceful-activities.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                        <div class="description">
                            <h4 class="info-title">Personal Experiences</h4>
                            <a href="#/your-stories/interviews" class="btn btn-outline-warning btn-round" style="margin-top: 10px;">Read a Submission</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>
</div>

