<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/path-to-peace-bg-gradient.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-left" style="margin-left: 200px">
            <h1>Path to Peace</h1>
            <h4>Is all about assisting people with their mental health struggles. I’m Lachlan and I offer holistic life-coaching, and ways to share your story with the wider community. My aim is to help our community open up about their wellbeing, embrace their truth, and live fun, purposeful lives!</h4>
            <br />
            <a href="#contact" class="btn btn-outline-warning btn-round">Contact Me</a>
        </div>
    </div>
    <div class="container">
        <div class="motto text-right" style="margin-right: 200px"> 
            <img src="assets/img/p2p/home-contact-me.png" class="img-rounded img-responsive" alt="Rounded Image">
        </div>
    </div>
</div>

<div class="main">

    <div class="section text-center" style="padding-top: 20; padding-bottom: 20;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Empowering you to live the life you deserve!</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mr-auto ml-auto"> 
                    <h2>Coaching</h2>
                    <h5>I offer passionate, individualised coaching/mentoring for children and adults using proven methods, tools and frameworks.</h5>
                    <br />
                    <a href="#coaching" class="btn btn-outline-warning btn-round">Learn More</a>
                </div>
                <div class="col-md-6 mr-auto ml-auto"> 
                    <img src="assets/img/p2p/home-coaching.png" class="img-rounded img-responsive" alt="Rounded Image">
                </div>
            </div>
        </div>
    </div>

    <div class="section">
    <div class="container">
        <div class="row"> 
            <h2 class="title">Empowering You</h2>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <img src="assets/img/p2p/home-your-stories.png" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="description">
                        <h4 class="info-title">Your Stories</h4>
                        <p class="description">I upload interviews, and posts made by brave members of the community who share their mental health stories.</p>
                        <a href="#your-stories" class="btn btn-outline-warning btn-round">Explore Your Stories</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <img src="assets/img/p2p/home-peaceful-activities.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="description">
                        <h4 class="info-title">Peaceful Activities</h4>
                        <p>I provide some simple things that can be done during free time to bolster mental health and wellbeing.</p>
                        <a href="#peaceful-activities" class="btn btn-outline-warning btn-round">Explore Peaceful Activities</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <img src="assets/img/p2p/home-peace-of-advice.png" class="img-rounded img-responsive" alt="Rounded Image">
                    <div class="description">
                        <h4 class="info-title">Peace of Advice</h4>
                        <p>I upload short videos that are created for you to learn and consider a new ways of thinking.</p>
                        <a href="#peace-of-advice" class="btn btn-outline-warning btn-round">Explore Peace of Advice</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mr-auto ml-auto"> 
                    <h2>About Me</h2>
                    <h5>Hi! My name is Lachlan Querzoli, thank you for visiting Path to Peace. If you'd like to learn a bit about me and my story, click below.</h5>
                    <br />
                    <a href="#about" class="btn btn-outline-warning btn-round">Learn About Me</a>
                </div>
                <div class="col-md-6 mr-auto ml-auto"> 
                    <img src="assets/img/p2p/home-about-me.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mr-auto ml-auto"> 
                    <img src="assets/img/p2p/home-contact-me.png" class="img-rounded img-responsive" alt="Rounded Image">
                </div>
                <div class="col-md-6 mr-auto ml-auto"> 
                    <h2>Contact Me</h2>
                    <h5>Do you have an idea of how I could improve Path To Peace? Want to share your experiences with the wider community? Or, do you just want to have a chat?</h5>
                    <br />
                    <a href="#contact" class="btn btn-outline-warning btn-round">Contact Me</a>
                </div>
            </div>
        </div>
    </div>

</div>
