<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/path-to-peace-bg-gradient.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="row text-center"> 
            <h1>About Me</h1>
        </div>
    </div>
</div>

<div class="main">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mr-auto ml-auto"> 
                    <h2>About Me</h2>
                    <h5>Hi! My name is Lachlan Querzoli, thank you for visiting Path to Peace. If you'd like to learn a bit about me and my story, click below.</h5>
                    <br />
                    <button type="button" class="btn btn-outline-warning btn-round">Learn About Me</button>
                </div>
                <div class="col-md-6 mr-auto ml-auto"> 
                    <img src="assets/img/p2p/home-about-me.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                </div>
            </div>
        </div>
    </div>

</div>

